@font-face{
		font-family: myfont;
		src: url("../font/IRANYEKANLIGHT.ttf");
	}
body{
  direction: rtl;
  font-family: myfont;
}
.cl-blue{
  background-color: #32BAC4;
}
.fold-feature{
  min-width: 356px;
  width: 100%;
  min-height: 570px;
  height: 100%;
}
.login-p{
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.login-feature{
  width: 100%;
  box-shadow: 0px 5px 15px;
  background-color: #fff;
  padding: 20% 7%;
}
.input-feat{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 15%;
  border-radius: 25px;
  box-shadow: 0px 2px 15px;
}
 .input-user{
    float: right;
    margin: -13% 5%;
}
.btn-feature{
  background-color: #32BAC4;
  border-radius: 25px;
  width: 70%;
  padding: 2% 7%;
  color: #fff;
  font-size: 20px;
  margin-top: 10%;
}
@media (min-width: 768px){
  .input-user{
     float: right;
     margin: -7% 5%;
 }
}
/**********************************************/
.cl-dark-gray{
  background-color: #B6B0B0;
}
.cl-gray{
	background-color: #f6f6f6;
}
.h-100{
	min-height: 100vh;
	height: auto;
}
.top-nav{
  width: 100%;
  height: auto;
  margin-top: 0px;
  padding: 20px 12px;
}
.all-time{
	width: 100%;
	height: auto;
	margin-top: 10px;
	padding: 10px 12px 30px 12px;
	color: #fff;
	font-size: 18px;
}
.arrow{
  display: inline;
  float: left;
  padding: 5px;
}
.text-feat{
  float: right;
  display: inline;
  font-weight: bold;
}
.input-search{
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 45px;
  border-radius: 25px;
  border: none;
}
 .search-icon{
    float: right;
    margin: -30px 20px;
}
.table-white{
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 10px 5px;
}
.line-feat{
  display: inline;
}
hr{
  margin-bottom: 0px;
  margin-top: 0px;
  border-bottom: 2px solid #696969;
}
.fl-left{
  float: left;
}
.table-gray{
  background-color: #e7e7e7;
  width: 100%;
  height: auto;
  padding: 10px 5px;
}
.select-item{
  margin-left: 10px;
}
a{
  text-decoration: none;
}
.btn-archive{
	width: 100%;
	height: auto;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	border-radius: 0px;
	padding: 15px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	margin-right: -15px;
}
.cl-red{
	background-color: red;
}
.btn-save{
	background-color: #32BAC4;
  width: 200px;
  padding: 5px;
  color: #fff;
  font-size: 20px;
  margin-top: 50px;
}
.fl-right{
	float: right;
}
.font-16{
	font-size: 16px;
}
.font-20{
	font-size: 20px;
}
.btn-city{
	background-color: #969696;
	color: #e7e7e7;
}
.btn-city:hover{
	background-color: #32BAC4;
	color: #e7e7e7;
}
.p-right{
	padding-right: 30px;
}
.inp-add{
	margin-top: 100px;
	margin-bottom: 10%;
	padding: 20px;
}
.btn-sub-add{
	width:200px;
	padding: 5px;
	background:#32BAC4;
	color: #fff;
}
.inner-item{
	padding-top:15px;
	font-size: 14px;
	font-weight:bold;
	margin: 30px 5% 0px 5%;
}
.btn-delete{
	float: left;
	padding: 5px 20px;
}
.danger{
    color: #c4554b;
}
.error-msg{
    padding-top: 8%;
}