{% extends 'partners/base.html' %}
{% load staticfiles %}

{% block content-old %}
<section class="col-md-12 col-xs-12 col-sm-12" style="background-color:#fff;">
	<div class="container">
		<div class="row text-center">
			<div class="">
				<div class="top-nav">
					<p class="text-feat">لیست موارد ثبت شده</p>
					<a href="{% url 'partners_list' %}" class="">
						<img src="{% static 'partners/image/back.png' %}" class="arrow">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="col-md-12">
		<div class="col-md-3">
		</div>
		<div class="col-md-6 col-xs-12 col-sm-12" style="padding-top:15px; font-size: 14px; font-weight:bold;">
			{% for activity in object_list %}
			<div class="{% cycle 'table-white' 'table-gray' %}">
				<p class="line-feat">{{activity.partner}}</p>
				<p class="line-feat fl-left">{{activity.date}}</p>
				<br><br>
				<p class="line-feat">از ساعت {{activity.start_time.time}} تا {{activity.end_time.time}}</p>
				<p class="line-feat fl-left">مجموعا {{activity.duration}}</p>
			</div>
			{% endfor %}
		</div>
		<div class="col-md-3">
		</div>
	</div>
</section>

{% endblock %}


{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 col-xs-12 col-sm-12 cl-gray h-100">
			<section>
				<div style="background:#FFF; padding-bottom:10px;">
					<div class="top-nav">
						<p class="text-feat">لیست موارد ثبت شده</p>
						<a href="{% url 'partners_list' %}" class="">
							<img src="{% static 'partners/image/back.png' %}" class="arrow">
						</a>
					</div>
				</div>

				<div style="background:#32BAC4;">
					<div class="all-time">
						<p class="text-feat">مجموع کل کارکرد شما {{aggregated_time}}</p>
					</div>
				</div>
				<div style="padding-top:15px; font-size: 14px; font-weight:bold;">
					{% for activity in object_list %}
					<div class="{% cycle 'table-white' 'table-gray' %}">
						<p class="line-feat">{{activity.partner}}</p>
						<p class="line-feat fl-left">{{activity.date}}</p>
						<br><br>
						<p class="line-feat">از ساعت {{activity.start_time.time}} تا {{activity.end_time.time}}</p>
						<p class="line-feat fl-left">مجموعا {{activity.duration}}</p>
						<br><br>
						<p class="line-feat"></p>
						<div style="padding-bottom:30px;">
							<button type="submit" data-toggle="modal" data-target="#myModal{{activity.id}}" class="btn btn-danger btn-delete">حذف</button>
							<div id="myModal{{activity.id}}" class="modal fade" role="dialog">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">هشدار</h4>
										</div>
										<div class="modal-body">
											<p>آیا از حذف فعالیت انتخاب شده مطمین هستید؟</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">خیر</button>
											<a type="button" class="btn btn-danger" href="{% url 'delete_activity' activity.id %}">بله، مطمین هستم</a>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					<div class="col-md-3">
					</div>
				</div>
				<!--<div class="">-->
				<!--<a href="saved.html">-->
				<!--<button class="btn btn-default btn-archive cl-blue" type="button" name="button">ویرایش ساعات ثبت شده</button>-->
				<!--</a>-->
				<!--</div>-->
			</section>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
{% endblock %}