{% extends "partners/base.html" %}
{% load staticfiles %}

{% block body_class %}cl-blue{% endblock %}

{% block content %}
<section>
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12 col-xs-12 col-sm-12 fold-feature cl-blue">
				<div class="col-md-3 col-xs-1 col-sm-1"></div>
				<div class="col-md-6 col-xs-10 col-sm-10">
					<br><br><br><br><br>
					<p class="login-p">یکتا تجارت</p>
					<br><br><br><br><br>
					<form action="" method="post">
						{% csrf_token %}
						<div class="login-feature">
							<form class=" form-login dir-right">
								<div class="form-group">
									<input type="text" class="form-control input-feat" id="username" placeholder="" name="username">
									<img src="{% static 'partners/image/user.png' %}" class="input-user">
								</div>
								<div class="form-group">
									<input type="password" class="form-control input-feat" id="pwd" placeholder="" name="password">
									<img src="{% static 'partners/image/pass.png' %}" class="input-user">
								</div>

							</form>
							<button type="submit" class="btn btn-default btn-submit btn-feature">ورود</button>
						</div>
					</form>
				</div>
				<div class="col-md-3 col-xs-1 col-sm-1"></div>
			</div>
		</div>
	</div>
</section>
{% endblock%}