{% extends 'partners/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 col-xs-12 col-sm-12 cl-gray h-100">
			<section>
				<div style="background:#FFF; padding-bottom:10px;">
					<div class="top-nav">
						<p class="text-feat">سلام {{user.get_full_name}}</p>
						<a href="{% url 'logout' %}" class="danger pull-left">خروج</a>
					</div>
				</div>
			</section>
			<section>
				<form action="" , method="get">
					<div class="form-group">
						<input type="text" class="form-control input-search" id="name" placeholder="جستجو" name="name">
						<img src="{% static 'partners/image/search.png' %}" class="search-icon">
					</div>
				</form>
			</section>
			<section>
				<p> لیست مشتریان {% if filtered %} <a href="{{request.path}}">(نمایش همه)</a>{% endif %}</p>
				<hr>
				<div class="table-white p-right">
					<a href="{% url 'partners_create' %}" class="">
						<img src="{% static 'partners/image/plus.png' %}">
						<p class="line-feat">افزودن مشتری جدید</p>
					</a>
				</div>
				{% for partner in object_list %}
				<div class="{% cycle 'table-gray' 'table-white' %}  p-right">
					<a href="{{partner.set_link}}" class="">
						<p class="line-feat">{{partner.name}}</p>
					</a>
				</div>
				{% endfor %}
				<div class="">
					<a href="{% url 'activities_list' %}">
						<button class="btn btn-default btn-archive cl-blue" type="button" name="button">مشاهده لیست موارد ثبت شده</button>
					</a>
				</div>
			</section>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
{% endblock %}