{% extends 'partners/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 col-xs-12 col-sm-12 cl-gray h-100">
			<section>
				<div style="background:#FFF; padding-bottom:10px;">
					<div class="top-nav">
						<p class="text-feat">اضافه کردن مشتری جدید</p>
						<a href="{% url 'partners_list' %}" class="">
							<img src="{% static 'partners/image/back.png' %}" class="arrow">
						</a>
					</div>
				</div>
				<div class="error-msg">
					{% for msg in form.non_field_errors %}
					<p class="danger">{{msg}}</p>
					{% endfor %}
				</div>
				<form method="post">
					{% csrf_token %}
					<div class="form-group text-center">
						<input type="text" class="form-control inp-add" placeholder="نام مشتری را وارد کنید" name="name">
						<input type="hidden" class="form-control inp-add" value="{{form.state.value}}" name="state">
						<button class="btn btn-default btn-sub-add font-20" type="submit">ثبت</button>
					</div>
				</form>
			</section>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
</div>
{% endblock %}