{% extends 'partners/base.html' %}
{% load staticfiles %}

{% block content-old %}
<section class="col-md-12 col-xs-12 col-sm-12" style="background-color:#fff;">
	<div class="container">
		<div class="row text-center">
			<div class="">
				<div class="top-nav">
					<p class="text-feat">{{object.name}}</p>
					<a href="{% url 'partners_list' %}" class="">
						<img src="{% static 'partners/image/back.png' %}" class="arrow">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<center>
		<div class="col-md-12">
			<div class="col-md-3">
			</div>
			<div class="col-md-6 col-xs-12 col-sm-12" style="float:right; direction:rtl;">
				<div class="error-msg">
					{% for msg in errors %}
					<p class="danger">{{msg}}</p>
					{% endfor %}
				</div>
				<form action="" method="post">
					{% csrf_token %}
					{% for hidden_field in form.hidden_fields %}
					{{ hidden_field.errors }}
					{{ hidden_field }}
					{% endfor %}
					<div style="padding-bottom:60px; padding-top:30px;">
						{% for ch in form.day.field.choices reversed %}
						<div class="col-md-6 col-xs-6">
							<div class="radio">
								<input type="radio" name="day" value="{{ch.0}}" {% ifequal form.day.data choice.0 %}checked{%endifequal%}> <label style="margin-right:20px;">{{ch.1}}</label>
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="form-group col-md-6 col-xs-6">
						<p class="line-feat">تا ساعت</p>
						<div class='input-group date  date-input' id='datetimepicker3'>
							<input type='text' class="form-control" name="end_time" style="border:none; border-radius:0px;" required/>
							<span class="input-group-addon" style="border:none; border-radius:0px;"><img src="{% static 'partners/image/arrow-bottom.png' %}" class=""></span>
						</div>
					</div>
					<div class="form-group col-md-6 col-xs-6">
						<p class="line-feat">از ساعت</p>
						<div class='input-group date  date-input' id='datetimepicker2'>
							<input type='text' class="form-control" name="start_time" style="border:none; border-radius:0px;" required/>
							<span class="input-group-addon" style="border:none; border-radius:0px;"><img src="{% static 'partners/image/arrow-bottom.png' %}" class=""></span>
						</div>
					</div>
					<button type="submit" class="btn btn-default btn-save">ثبت</button>
				</form>
			</div>
			<div class="col-md-3">
			</div>
		</div>
	</center>
</section>
{% endblock %}


{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 col-xs-12 col-sm-12 cl-gray h-100">
			<section>
				<div style="background-color:#fff; padding-bottom:10px;">
					<div class="top-nav">
						<p class="text-feat">{{object.name}}</p>
						<a href="{% url 'partners_list' %}" class="">
							<img src="{% static 'partners/image/back.png' %}" class="arrow">
						</a>
					</div>
				</div>
			</section>
			<section>
				<center>
					<div class="error-msg">
						{% for msg in errors %}
						<p class="danger">{{msg}}</p>
						{% endfor %}
					</div>
					<form action="" method="post">
						{% csrf_token %}
						{% for hidden_field in form.hidden_fields %}
						{{ hidden_field.errors }}
						{{ hidden_field }}
						{% endfor %}
						<div class="" style="float:right; direction:rtl;">
							<div style="padding-bottom:60px; padding-top:30px;">
								{% for ch in form.day.field.choices reversed %}
								<div class="col-md-6 col-xs-6">
									<div class="radio">
										<input type="radio" name="day" value="{{ch.0}}" {% ifequal form.day.data choice.0 %}checked{%endifequal%}> <label style="margin-right:20px;">{{ch.1}}</label>
									</div>
								</div>
								{% endfor %}
							</div>
							<div class="form-group col-md-6 col-xs-6">
								<p class="line-feat">تا ساعت</p>
								<div class='input-group date  date-input' id='datetimepicker3'>
									<input type='text' class="form-control" name="end_time" style="border:none; border-radius:0px;" required/>
									<!--<span class="input-group-addon" style="border:none; border-radius:0px;"><img src="{% static 'partners/image/arrow-bottom.png' %}" class=""></span>-->
								</div>
							</div>
							<div class="form-group col-md-6 col-xs-6">
								<p class="line-feat">از ساعت</p>
								<div class='input-group date  date-input' id='datetimepicker2'>
									<input type='text' class="form-control" name="start_time" style="border:none; border-radius:0px;" required/>
									<!--<span class="input-group-addon" style="border:none; border-radius:0px;"><img src="{% static 'partners/image/arrow-bottom.png' %}" class=""></span>-->
								</div>
							</div>
							<button type="submit" class="btn btn-default btn-save">ثبت</button>
						</div>
					</form>
				</center>
			</section>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>

{% endblock %}